
<div class="">
  <p class="name">{{movie.name}}</p>

  <div class="grid-container">

    <div class="grid-item">
      <img src="{{ imags[movieId].art }}" class="imagen">
    </div>

    <div class="grid-item">
      <p class="titles">Description:</p>
      <p class="desc">{{movie.description}}</p>
      <p class="titles">Languages:</p>
      <ul class="languages">
        <li *ngFor="let language of movie.languages">
          <span class="language">{{language}}</span>
        </li>
      </ul>
      <p class="titles">Casting:</p>
      <ul class="casting">
        <li *ngFor="let cast of movie.casting">
          <span class="person">{{cast}}</span>
        </li>
      </ul>
    </div>

  </div>








  <p class="titles">Related Movies:</p>
  <ul class="relates">
    <li (click)="selected(data[relate].id)" *ngFor="let relate of movie.related"> <!-- Poner imagen de relacionada -->
      <img src="{{imags[data[relate].id].screen}}" class="movierelated">
    </li>
  </ul>

</div>
